:root {
  --primary-color: #FF69B4;
  --secondary-color: #333;
  --accent-color: #EC59A5;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: var(--secondary-color);
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--primary-color);
}

/* CSS for "active" state */
nav a.active {
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
}

/* CSS for product items */
.product-items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-items li {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-items img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.buy-button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.buy-button:hover {
  background-color: #FF69B4;
}

/* CSS for "active" state of the button */
.buy-button:active {
  background-color: #EC59A5;
  transform: scale(0.95);
}

/* CSS for about and contact sections */
.about, .contact {
  text-align: center;
  padding: 20px;
}

footer {
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
}

/* CSS for the logo */
.logo img {
  max-width: 100%;
  height: auto;
}

/* CSS for the search bar */
.search-bar {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-button {
  background-color: #E6E2E265;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
}

/* CSS for "active" state of the search input and button */
#search-input:focus, #search-button:active {
  background-color: var(--primary-color);
  color: #fff;
}
/* CSS for the lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.lightbox .promotion-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: yellow;
  color: red;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.lightbox.show {
  display: flex;
}
.promotion-label {
  background-color: yellow;
  color: red;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: none;
  z-index: 1;
}

.product-item:hover .promotion-label {
  display: block;
}
